@keyframes gradientFlow {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }
  
  .monster-list {
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background-size: 300% 300%;
    animation: gradientFlow 15s linear infinite;
    color: #fff;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), inset 0 0 15px rgba(255, 255, 255, 0.3);
    font-family: 'Garamond', serif;
  }
  
  
  
  .monster-title {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  }
  
  .monster-items {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .monster-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .item-name {
    font-size: 1.2rem;
    color: #fff;
  }
  
  .item-detail {
    color: #ffdf70;
  }
  
  .item-button {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .view-button {
    background: #4caf50;
    color: #fff;
  }
  
  .edit-button {
    background: #ff9800;
    color: #fff;
  }
  
  .view-button:hover {
    background: #45a049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .edit-button:hover {
    background: #e68a00;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  